---
http_interactions:
- request:
    method: get
    uri: http://tw.battle.net/d3/zh/tooltip/item/CkAIp-GcvgcSBwgEFbUzhY0d8dNq1R2s05k5HVhG4dkdQ05EUR0QL8oqMIsSON8CQABQElgEYPcCgAFGtQHS-MgVGJWx1qcOUABYAA?format=jsonp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-language:
      - zh-TW
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: "Bnet.D3.Tooltips.registerData({\r\n\tparams: {\r\n\t\tregion: 'tw',\r\n\t\tlocale:
        'zh',\r\n\t\ttype: 'item',\r\n\t\tkey: 'profane-pauldrons'\r\n\t},\r\n\ttooltipHtml:
        \"<div class=\\\"d3-tooltip d3-tooltip-item\\\"\\>\\r\\n<div class=\\\"d3-tooltip-item-wrapper
        d3-tooltip-item-wrapper-Legendary\\\"\\>\\r\\n<div class=\\\"d3-tooltip-item-border
        d3-tooltip-item-border-left\\\"\\></div\\>\\r\\n<div class=\\\"d3-tooltip-item-border
        d3-tooltip-item-border-right\\\"\\></div\\>\\r\\n<div class=\\\"d3-tooltip-item-border
        d3-tooltip-item-border-top\\\"\\></div\\>\\r\\n<div class=\\\"d3-tooltip-item-border
        d3-tooltip-item-border-bottom\\\"\\></div\\>\\r\\n<div class=\\\"d3-tooltip-item-border
        d3-tooltip-item-border-top-left\\\"\\></div\\>\\r\\n<div class=\\\"d3-tooltip-item-border
        d3-tooltip-item-border-top-right\\\"\\></div\\>\\r\\n<div class=\\\"d3-tooltip-item-border
        d3-tooltip-item-border-bottom-left\\\"\\></div\\>\\r\\n<div class=\\\"d3-tooltip-item-border
        d3-tooltip-item-border-bottom-right\\\"\\></div\\>\\r\\n<div class=\\\"tooltip-head
        tooltip-head-orange\\\"\\>\\r\\n<h3 class=\\\"d3-color-orange\\\"\\>穢瀆肩鎧</h3\\>\\r\\n</div\\>\\r\\n<div
        class=\\\"tooltip-body effect-bg effect-bg-armor effect-bg-armor-default\\\"\\>\\r\\n<span
        class=\\\"d3-icon d3-icon-item d3-icon-item-large d3-icon-item-orange\\\"\\>\\r\\n<span
        class=\\\"icon-item-gradient\\\"\\>\\r\\n<span class=\\\"icon-item-inner icon-item-default\\\"
        style=\\\"background-image: url(http://media.blizzard.com/d3/icons/items/large/unique_shoulder_101_x1_demonhunter_male.png);\\\"\\>\\r\\n</span\\>\\r\\n</span\\>\\r\\n</span\\>\\r\\n<div
        class=\\\"d3-item-properties\\\"\\>\\r\\n<ul class=\\\"item-type-right\\\"\\>\\r\\n<li
        class=\\\"item-slot\\\"\\>肩膀</li\\>\\r\\n</ul\\>\\r\\n<ul class=\\\"item-type\\\"\\>\\r\\n<li\\>\\r\\n<span
        class=\\\"d3-color-orange\\\"\\>傳奇護肩</span\\>\\r\\n</li\\>\\r\\n</ul\\>\\r\\n<ul
        class=\\\"item-armor-weapon item-armor-armor\\\"\\>\\r\\n<li class=\\\"big\\\"\\><p\\><span
        class=\\\"value\\\"\\>601</span\\></p\\></li\\>\\r\\n<li\\>護甲值</li\\>\\r\\n</ul\\>\\r\\n<div
        class=\\\"item-before-effects\\\"\\></div\\>\\r\\n<ul class=\\\"item-effects\\\"\\>\\r\\n<p
        class=\\\"item-property-category\\\"\\>主要屬性</p\\>\\r\\n<li class=\\\"d3-color-blue
        d3-item-property-default\\\"\\><p\\><span class=\\\"value\\\"\\>+445</span\\>
        敏捷</p\\></li\\>\\r\\n<li class=\\\"d3-color-blue d3-item-property-default\\\"\\><p\[...]
