---
http_interactions:
- request:
    method: get
    uri: http://tw.battle.net/d3/zh/tooltip/item/CkAIp-GcvgcSBwgEFbUzhY0d8dNq1R2s05k5HVhG4dkdQ05EUR0QL8oqMIsSON8CQABQElgEYPcCgAFGtQHS-MgVGJWx1qcOUABYAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-language:
      - zh-TW
      content-type:
      - application/xhtml+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n\t<div class=\"d3-tooltip d3-tooltip-item\">\r\n\r\n\r\n\t\t<div
        class=\"d3-tooltip-item-wrapper d3-tooltip-item-wrapper-Legendary\">\r\n\r\n\t\t\t<div
        class=\"d3-tooltip-item-border d3-tooltip-item-border-left\"></div>\r\n\t\t\t<div
        class=\"d3-tooltip-item-border d3-tooltip-item-border-right\"></div>\r\n\t\t\t<div
        class=\"d3-tooltip-item-border d3-tooltip-item-border-top\"></div>\r\n\t\t\t<div
        class=\"d3-tooltip-item-border d3-tooltip-item-border-bottom\"></div>\r\n\t\t\t<div
        class=\"d3-tooltip-item-border d3-tooltip-item-border-top-left\"></div>\r\n\t\t\t<div
        class=\"d3-tooltip-item-border d3-tooltip-item-border-top-right\"></div>\r\n\t\t\t<div
        class=\"d3-tooltip-item-border d3-tooltip-item-border-bottom-left\"></div>\r\n\t\t\t<div
        class=\"d3-tooltip-item-border d3-tooltip-item-border-bottom-right\"></div>\r\n\r\n\r\n\r\n\r\n\t<div
        class=\"tooltip-head tooltip-head-orange\">\r\n\t\t<h3 class=\"d3-color-orange\">穢瀆肩鎧</h3>\r\n\t</div>\r\n\r\n\t<div
        class=\"tooltip-body effect-bg effect-bg-armor effect-bg-armor-default\">\r\n\r\n\r\n\r\n\r\n\t<span
        class=\"d3-icon d3-icon-item d3-icon-item-large  d3-icon-item-orange\">\r\n\t\t<span
        class=\"icon-item-gradient\">\r\n\t\t\t<span class=\"icon-item-inner icon-item-default\"
        style=\"background-image: url(http://media.blizzard.com/d3/icons/items/large/unique_shoulder_101_x1_demonhunter_male.png);\">\r\n\t\t\t</span>\r\n\t\t</span>\r\n\t</span>\r\n\r\n\r\n\r\n\t<div
        class=\"d3-item-properties\">\r\n\r\n\r\n\r\n\r\n\t<ul class=\"item-type-right\">\r\n\r\n\r\n\t\t\t<li
        class=\"item-slot\">肩膀</li>\r\n\r\n\t</ul>\r\n\r\n\r\n\t<ul class=\"item-type\">\r\n\t\t<li>\r\n\t\t\t<span
        class=\"d3-color-orange\">傳奇護肩</span>\r\n\t\t</li>\r\n\t</ul>\r\n\t\t<ul class=\"item-armor-weapon
        item-armor-armor\">\r\n\t\t\t<li class=\"big\"><p><span class=\"value\">601</span></p></li>\r\n\t\t\t<li>護甲值</li>\r\n\t\t</ul>\r\n\r\n\r\n\r\n\r\n\t<div
        class=\"item-before-effects\"></div>\r\n\r\n\r\n\r\n\t\t<ul class=\"item-effects\">\r\n\r\n\r\n\t\t<p
        class=\"item-property-category\">主要屬性</p>\r\n\t\t\t<li class=\"d3-color-blue
        d3-item-prope[...]
